certifi==2023.7.22
charset-normalizer==3.3.2
contourpy==1.2.0
cycler==0.12.1
Cython==3.0.5
fonttools==4.44.0
idna==3.4
iniconfig==2.0.0
kiwisolver==1.4.5
matplotlib==3.8.1
networkx==3.2.1
ns.py==0.3.7
numpy==1.26.1
packaging==23.2
Pillow==10.1.0
pluggy==1.3.0
pyparsing==3.1.1
pytest==7.4.3
python-dateutil==2.8.2
pytz==2023.3.post1
PyYAML==6.0.1
requests==2.31.0
scipy==1.11.3
simpy==4.0.2
six==1.16.0
UNKNOWN==0.0.0
urllib3==2.0.7
